{% extends "base.html" %}
{% block content %}
    <main class="h-content w-content p-4 sm:m-16 md:m-28 lg:m-40">
        <div class="flex justify-center mb-2">
            <h1 class="font-extrabold bg-gradient-to-r from-green-600 to-orange-600 text-4xl inline-block text-transparent bg-clip-text">TODO LIST APP</h1>
        </div>
        <div class="">
            <div class="card mt-2 mb-2">
                <div class="card-body">  
                    <form method="POST" class="flex flex-col gap-2">
                        <input type="text" name="title" class="bg-slate-100 rounded pl-2 font-bold" placeholder="Title">
                        <input type="text" name="task" class="bg-slate-100 rounded h-8 pl-2" placeholder="Task">
                        <div class="mt-2 flex justify-end">
                            <button type="submit" class="btn btn-sm btn-primary">New Task</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="p-1">
                <h2>TODOS</h2>
            </div>
            {% for todo in todos %}
                <div hx-get="{{ url_for('display', todo_id=todo.id) }}"
                    hx-trigger="load"
                    hx-swap="outerHTML">
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}